.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
  flex-grow: 1;
  width: 100%;
  background-color: #d4d9e9;
  color: black;
}

.Quiz h1 {
  color: black;
  margin-left: 10px;
  padding-left: 20px;
}

.QuizWrapper {
  width: 600px;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 30px;
  color: black;
}
