.AnswerItem {
  outline: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: rgb(214, 222, 235, 0.2);
  outline: 1px solid blue;
  transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
}

.AnswerItem.correct {
  background: rgba(161, 240, 69, 0.7);
}

.AnswerItem.incorrect {
  background: rgba(240, 87, 108, 0.7);
}
