.Input {
  margin-bottom: 24px;
  position: relative;
}

.Input label {
  display: block;
  padding: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.Input input {
  display: block;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 15px;
  margin: 15px 0 40px 0;
  width: 100%;
  outline: none;
  transition: all 300ms ease-in-out;
}

.Input span {
  font-size: 12px;
  font-weight: bold;
  color: #2e2b2bbb;
  position: absolute;
  top: 100px;
}
.invalid {
  color: darkgrey;
}
