.QuestionList ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.QuestionList ul li {
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  min-width: 45px;
  min-height: auto;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.QuestionList ul li:hover {
  cursor: pointer;
  opacity: 0.7;
}

.active {
  background-color: #58b3e2;
  color: white;
  border-color: #58b3e2 !important;
}
